<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vuejs conditionals</title>
  </head>
  <body>
    <div id="loop">
      <ul>
        <li v-for="(ingridient, i) in ingridients">
          {{ ingridient }} - ({{ i }})
        </li>
      </ul>
      <hr />
      <ul>
        <li v-for="person in persons">
          <div v-for="(value, key, index) in person">
            {{ key }}: {{ value }} ({{ index }})
          </div>
        </li>
      </ul>
      <hr />
      <template v-for="(ingridient, index) in ingridients">
        <strong>{{ ingridient }}</strong> <span>{{ index }}</span
        ><br />
      </template>
    </div>

    <div id="app">
      <p v-if="show">hello</p>
      <p v-else>Big HeLLO!</p>
      <template v-if="show">
        <div>Nested!</div>
        <span>neighbor span!</span>
      </template>
      <p v-show="show">Andrei!</p>
      <button @click="show = !show">Switch</button>
    </div>

    <script src="vendor/vue.js"></script>
    <script src="src/conditionals.js"></script>
  </body>
</html>
