<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vuejs conditionals</title>
  </head>
  <body>
    <div id="exercise5">
      <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
      <div>
        <button @click="show = !show">Toggle</button>
        <p>You either see me ...</p>
        <p v-if="show">...or me</p>
        <p>You either see me ...</p>
        <p v-show="show">...or me</p>
      </div>
      <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
      <ul>
        <li v-for="(name, i) in array">{{ name }} - {{ i }}</li>
      </ul>
      <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
      <ul>
        <li v-for="(val, key, index) in myObject" :key="key + index">
          {{ key }}: {{ val }} ({{ index }})
        </li>
      </ul>
      <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
      <ul>
        <li v-for="(val, key) in testData">
          <template v-if="Array.isArray(val)">
            <div v-for="item in val">{{ item }}</div>
          </template>
          <template v-else>
            {{ val }}
          </template>
        </li>
      </ul>
    </div>

    <hr />
    <div id="loop">
      <ul>
        <li v-for="(ingridient, i) in ingridients" :key="ingridient + i">
          {{ ingridient }} - ({{ i }})
        </li>
      </ul>
      <button @click="ingridients.push('spices')">Add spices</button>
      <hr />
      <ul>
        <li v-for="n in 10">#{{ n }}</li>
      </ul>
      <hr />
      <ul>
        <li v-for="person in persons">
          <div v-for="(value, key, index) in person">
            {{ key }}: {{ value }} ({{ index }})
          </div>
        </li>
      </ul>
      <hr />
      <template v-for="(ingridient, index) in ingridients">
        <strong>{{ ingridient }}</strong> <span>{{ index }}</span
        ><br />
      </template>
    </div>

    <div id="app">
      <p v-if="show">hello</p>
      <p v-else>Big HeLLO!</p>
      <template v-if="show">
        <div>Nested!</div>
        <span>neighbor span!</span>
      </template>
      <p v-show="show">Andrei!</p>
      <button @click="show = !show">Switch</button>
    </div>

    <script src="vendor/vue.js"></script>
    <script src="src/conditionals.js"></script>
  </body>
</html>
