.demo {
  width: 40px;
  height: 40px;
  background-color: grey;
  display: inline-block;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
